<?xml version="1.0"?>
<launch>
    <arg name="robot_namespace" default="minihawk_SIM" />
    <arg name="tick_rate" default="10.0" />
    <arg name="camera_frame" default="MH_usb_camera_link_optical" />
    <arg name="target_tag_id" default="0" />

    <node pkg="robowork_minihawk_autonomy" type="auto_arm_node.py" name="auto_arm_node" output="screen">
        <param name="robot_namespace" value="$(arg robot_namespace)" />
        <param name="tick_rate" value="$(arg tick_rate)" />
        <param name="camera_frame" value="$(arg camera_frame)" />
        <param name="target_tag_id" value="$(arg target_tag_id)" />
    </node>

</launch>