<?xml version="1.0"?>
<launch>
    <arg name="robot_namespace" default="minihawk_SIM" />
    <arg name="tick_rate" default="10.0" />
    <arg name="timeout" default="10.0" />
    <arg name="camera_frame" default="MH_usb_camera_link_optical" />
    <arg name="target_tag_id" default="0" />
    <arg name="tag_center_tolerance" default="0.5" />
    <arg name="roll_gain" default="250.0" />
    <arg name="pitch_gain" default="250.0" />

    <node pkg="robowork_minihawk_autonomy" type="auto_arm_node.py" name="auto_arm_node" output="screen">
        <param name="robot_namespace" value="$(arg robot_namespace)" />
        <param name="tick_rate" value="$(arg tick_rate)" />
        <param name="camera_frame" value="$(arg camera_frame)" />
        <param name="target_tag_id" value="$(arg target_tag_id)" />
        <param name="timeout" value="$(arg timeout)" />
        <param name="tag_center_tolerance" value="$(arg tag_center_tolerance)" />
        <param name="roll_gain" value="$(arg roll_gain)" />
        <param name="pitch_gain" value="$(arg pitch_gain)" />
    </node>

</launch>